{% extends "layout.html.j2" %} 
{% block title %} &#128021; &nbsp; DoggyDex {% endblock %} 

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 bg-white p-4 rounded shadow text-center">
      <h2 class="mb-4">Your dog is a...</h2>

      <img 
        src="data:image/jpeg;base64,{{ dog_image }}" 
        alt="Dog Image" 
        class="img-fluid rounded mb-4" 
        style="max-height: 300px;"
      />

      <p class="lead">{{ results | safe }}</p>

      <a href="{{ url_for('views.home') }}" class="btn btn-primary mt-3">
        Try another image
      </a>
    </div>
  </div>
</div>
{% endblock %}
